.form {
  margin-bottom: 20px;
}
.form-group {
  display: flex;
}

label {
  width: 100px;
  display: block;
  font-weight: bold;
  margin-right: 10px;
}

input {
  width: 80%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.text-danger {
  color: red;
  font-size: 0.875rem;
  margin-left: 56px;
  margin-top: 0px;
}
